:host {
  display: block;
  background-color: #222b36;

  * {
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
  }

  .header {
    padding-left: 16px;
    padding-top: 17px;

    .select-container {
      padding: 14px 0 13px;
      width: 400px;
      height: 61px;
      position: relative;

      mat-select{
        padding-top: 6px;
        padding-bottom: 6px;
      }

      mat-form-field {
        width: 100%;
        height: 100%;
        align-content: center;
        padding-bottom: 10px;
      }

      .chip-list {
        display: flex;
        gap: 7px;
        align-items: center;
      }
    }

    .mat-select {
      background-color: #222b36;
    }
    .mat-option {
      background-color: #222b36;
    }
  }

  .loader{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .mat-table,
  .mat-paginator {
    background-color: transparent;
    color: white;
  }

  table {
    width: 100%;
    font-weight: 400;
    font-size: 14px;

    .first-td {
      padding-left: 83px;
    }

    td {
      text-align: left;
      justify-content: left;
      width: 25%;
      border-bottom: 1px solid #3d4752;
      padding-left: 43px;
      height: 76px;
    }

    th {
      text-align: left;
      border-bottom: 1px solid #3d4752;
      padding-left: 43px;
      height: 76px;


    }

    .empty {
      width: 83px;
    }

    .severity {
      border-radius: 8px;
      padding: 4px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;

      .low {
        background-color: #3a90e5;
      }

      .medium {
        background-color: #ffb547;
      }

      .high {
        background-color: #f06161;
      }
    }
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
}
