:host {
  display: block;
  background-color: var( --background-color-black);

  * {
    color: var(--background-color-white);
  }

  .header {
    padding-left: var(--space-16);
    padding-top:var(--space-17);

    .select-container {
      padding: var(--space-14) 0 var(--space-13);
      width: 400px;
      height: 61px;
      position: relative;

      mat-select{
        padding-top: var(--space-6);
        padding-bottom: var(--space-6);
      }

      mat-form-field {
        width: 100%;
        height: 100%;
        align-content: center;
        padding-bottom: var(--space-10);
      }

      .chip-list {
        display: flex;
        gap: var(--space-7);
        align-items: center;
      }
    }

    .mat-select {
      background-color: var( --background-color-black);
    }
    .mat-option {
      background-color: var( --background-color-black);
    }
  }

  .loader{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .mat-table,
  .mat-paginator {
    background-color: transparent;
    color: white;
  }

  table {
    width: 100%;
    font-weight: 400;
    font-size: var(--font-size-14);

    .first-td {
      padding-left: var(--space-83);
    }

    td {
      text-align: left;
      justify-content: left;
      width: 25%;
      border-bottom: 1px solid var(--background-color-button-gray);
      padding-left: var(--space-43);
      height: 76px;
    }

    th {
      text-align: left;
      border-bottom: 1px solid var(--background-color-button-gray);
      padding-left: var(--space-43);
      height: 76px;


    }

    .empty {
      width: 83px;
    }

    .severity {
      border-radius: 8px;
      padding: 4px 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;

      .low {
        background-color: var( --background-color-low-chip);
      }

      .medium {
        background-color: var( --background-color-medium-chip);
      }

      .high {
        background-color: var( --background-color-large-chip);
      }
    }
  }

  .mat-form-field {
    font-size: var(--font-size-14);
    width: 100%;
  }
}
